

.converter-container {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.ul-style {
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}