

.converter-container {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 500px;
}

.ul-style {
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}


@media (max-width: 800px)
{.ul-style {
    flex-direction: column;
}
}