

.converter-container {
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.ul-style {
    width: 80%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
}


@media (max-width: 1000px)
{
    .converter-container {
        height: 100%;
        margin-top: 100px;
    }

    .ul-style {
        flex-direction: column;
        align-items: center;
        margin: 35px 0;
    }
}