<div class="card-container">
    <div class="card-header"><span>{{ card.name }}</span></div>

    <div *ngIf="!isLoading && hasData; else loadSpinner" class="updatable-data">
        <div class="card-quote-value" [ngClass]="{
                    'red' : card.bidFloat && (card.bidFloat < 1 || card.bidFloat === 1),
                    'green' : card.bidFloat && (card.bidFloat > 1 || card.bidFloat === 5),
                    'blue': card.bidFloat && (card.bidFloat > 5)
                }">{{ card.bid | currency:'BRL':true }}</div>
        <div class="card-footer">
            <div class="footer-details" style="border-right: solid 0.5px #CCCCCC">
                <span style="font-size: 85%;">Variação (%)</span>
                <span style="font-size: 120%">{{ card.pctChange }}</span>
            </div>
            <div class="footer-details">
                <span style="font-size: 85%">Atualizado</span>
                <span style="font-size: 120%">{{ card.create_date | date: 'HH:mm:ss'}}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #loadSpinner>
    <div *ngIf="isLoading && !hasData; else errorAction" class="loader-container">
        <img src="assets/images/loader.svg" alt="load spinner">
    </div>
</ng-template>

<ng-template #errorAction>
    <div class="error-action-container">
        <span class="error-message">
            Algo deu errado
        </span>
        <button class="error-action-button" (click)="refreshData(true)">
            RECARREGAR
        </button>
    </div>
</ng-template>