<div class="card-container">
    <div class="card-header"><span>Moeda do País</span></div>
    <div class="card-quote-value">R$10,00</div>
    <div class="card-footer">
        <div class="footer-details" style="border-right: solid 0.5px #CCCCCC">
            <span style="font-size: 18px;">Variação (%)</span>
            <span style="font-size: 24px">-0,11</span>
        </div>
        <div class="footer-details">
            <span style="font-size: 18px;">Atualizado</span>
            <span style="font-size: 24px">08:01:23</span>
        </div>
    </div>
</div>